<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
      </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Resource.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink("ShowAll", "ShowAll", "Demotivators")</li>
                </ul>
                @using (Html.BeginForm("ChangeCulture", "Home"))
                {
                    <select name="lang">
                        <option disabled selected>@Resources.Resource.ChooseLang</option>
                        <option value="ru">Русский</option>
                        <option value="en">English</option>
                    </select>
                    <input type="submit" name="submit" value="@Resources.Resource.ChooseLang">
                }
                <form class="navbar-form col-md-1" role="search" action="/Search/Index">
                    <div class="input-group">
                        <input id="autocompletes" type="text" name="r" class="form-control pull-right" style=" margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="reset" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove">
                                    <span class="sr-only">Close</span>
                                </span>
                            </button>
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>


                

               @Html.Partial("_CreateDemotivator")

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/css/custom-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <style>
        .ui-autocomplete {
            z-index: 2000;
        }
             .ui-menu  a{
                 overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script type="text/javascript">
        var items;
        $(document).ready(function() {
          $("#autocompletes").autocomplete({
              source: function(request, response) {
                  var term = request.term
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Search", "Search")",
                        traditional: true,
                        data: {term},
                        success: function (data)
                        {
                            response(data);
                        },
                        error: function (data, type)
                        {
                            console.log(type);
                        }
                    });
                },
            });
        });
    </script>

        </body>
</html>
