@model IDemotivator.Demotivator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Demotivator</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
                @Html.EditorFor(model => model.JSON, new { htmlAttributes = new { @class = "form-control", id = "JSON", type = "hidden" } })
            </dd>

        </dl>
        <img src="@Model.Url_Img" class="col-md-6 col-sm-6 vcenter" />
        <div class="col-md-6 col-sm-6 vcenter">
            <div class="tr" style="background-color:#f1f1f1;">
                <div class="td0">Please rate</div>
                <div class="td">@Html.Partial("_VoteNow", Model.Id.ToString())</div>
                @if (Model.Rate is string)
            {
                    <div class="td" id="ShowRe">@Html.Partial("_VoteShow", Model.Rate)</div>
                }

                <div class="td" id="ShowRes">@Html.Partial("_Comments", Model.Comments, new ViewDataDictionary { { "id", @Model.Id } })</div>

            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<script src="~/Scripts/jquery.timeago.js"></script>
<script src="~/Scripts/fabric.js"></script>
<script src="~/Scripts/DemoDetail.js"></script>