@model IDemotivator.Demotivator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<style>
    #canvas-container {
            position: relative;
            width: 900px;
            height: 550px;
            box-shadow: 0 0 5px 1px black;
            margin: 10px auto;
            border: 5px solid transparent;
        }
        #canvas-container.over {
            border: 1px dashed #000000;
</style>
<div>
    <h4>Demotivator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            @Html.EditorFor(model => model.Url_Img_Origin, new { htmlAttributes = new { @class = "form-control", id = "url2", type = "hidden"} })
            @Html.EditorFor(model => model.Str1, new { htmlAttributes = new { @class = "form-control", id = "str11", type = "hidden"} })
            @Html.EditorFor(model => model.Str2, new { htmlAttributes = new { @class = "form-control", id = "str22", type = "hidden"} })
        </dd>
    </dl>
    <div id="canvas-container">
        <canvas id="canvas" width="900" height="550"></canvas>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/fabric.js"></script>
<script src="~/Scripts/DemoDetail.js"></script>