@model PagedList.IPagedList<IDemotivator.Demotivator>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/lightbox.css">
    <link rel="stylesheet" href="~/Content/HomeImage.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/lightbox.js"></script>
    @{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string a, b, c;
    }
    <div class="container">
        <h2>ShowAll</h2>
        @foreach (var item in Model)
        {
        c = "";
        a = Html.Partial("_Comments", item.Comments, new ViewDataDictionary { { "id", @item.Id } }).ToString();
        b = Html.Partial("_VoteNow", item.Id.ToString()).ToString();
        if (item.Rate is string)
        {
        c = Html.Partial("_VoteShow", item.Rate.ToString()).ToString();
        }
        <div class="col-md-4 col-sm-4 col-xs-6 shine_me" style="text-align: center">
            <a class="example-image-link" href="@item.Url_Img" data-title="@b@c@a" data-lightbox="example-1"><img align="middle" class="example-image img-responsive" src="@item.Url_Img" alt="image-1" width="200" height="222" /></a>
            <i class="shine_effect"></i>
        </div>
        }
        <br />
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ShowAll",  new { page }))
    </div>
